body {
  font-family: sans-serif;
  background: #4707b3;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 16px;
  padding: 0 200px;
  margin: 0 auto;
}

.start {
  display: flex;
  padding: 0 200px;
  /* justify-content: 'center'; */
  margin-bottom: 20px;
}

.card {
  background: #2b155b;
  padding: 12px;
  border-radius: 8px;
}

.card img {
  width: 100%;
}

.old {
  text-decoration: line-through;
  opacity: 0.7;
}
